button {
    background-color: #47026c;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
  }

  button:hover {
    background-color: #065aaf;
  }
  button:hover:before,
  button:hover:after {
    height: 100%;
    width: 100%;
  }
  button:before,
button:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
  }
  button:before {
    border-top: 2px solid #dc03f9;
    left: 0px;
    top: -5px;
  }
  button:after {
    border-bottom: 2px solid #dc03f9;
    bottom: -5px;
    right: 0px;
  }

  
 