#MENU1{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(160, 6, 194, 0.3);
}

#MENU2{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(160, 6, 194, 0.3);
    
}

#MENU3{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color:transparent;
}

@media only screen and (max-width: 800px) {
#MENU1{
    display: none;
}
#MENU2{
    display: none;
}
#MENU3{
    display: flex;
}
}

@media only screen and (min-width: 800px) {
    #MENU1{
        display: none;
    }
    #MENU2{
      
         display: flex;
        justify-content: flex-end;

    }
    #MENU3{
        display: none;
    }
}

@media only screen and (min-width: 1100px) {
    #MENU1{
        display: flex;
    }
    #MENU2{
        display: none;
    }
    #MENU3{
        display: none;
    }
}


body{
    animation: FONDO 10s ease 1ms infinite alternate forwards;
    color: white;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@keyframes FONDO {
    from{
        background-color: rgb(37, 1, 71);
    }
    to{
        background-color: rgb(67, 0, 148);
    }
}
@keyframes FONDO {
    from{
        background-color: rgb(67, 0, 148);
    }
    to{
        background-color:  rgb(37, 1, 71);
    }
}

.Opciones{
    display: flex;
    justify-content: space-between;
}

footer{
    display:flex ;
    justify-content: flex-end;
    flex-direction: row;
    background-color:rgba(160, 6, 194, 0.3) ;
    
}


#tablas1,#tablas2{
    display: flex;
    justify-content: flex-end;
    border-style: double;
    border-color: rgb(255, 255, 255);
}


#COL{
    display: fixed;
    flex-direction: column;
}


